<header class="md-header" data-md-component="header">
  <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header') }}">
    
    <a href="{{ config.extra.homepage | default(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}" class="md-header__button md-logo" aria-label="{{ config.site_name | e }}" data-md-component="logo">
      {% include "partials/logo.html" %}
    </a>
    
    <label class="md-header__button md-icon" for="__drawer">
      {% include ".icons/material/menu.svg" %}
    </label>
    
    <div class="md-header__title" data-md-component="header-title">
      <div class="md-header__topic">
        <span class="md-ellipsis">
          {{ config.site_name }}
        </span>
      </div>
      <div class="md-header__topic" data-md-component="header-topic">
        <span class="md-ellipsis">
          {% if page.meta and page.meta.title %}
            {{ page.meta.title }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </span>
      </div>
    </div>
    
    {% if config.theme.palette %}
      {% if config.theme.palette is mapping %}
        {% include "partials/palette.html" %}
      {% else %}
        {% for palette in config.theme.palette %}
          {% include "partials/palette.html" %}
        {% endfor %}
      {% endif %}
    {% endif %}

    <div class="md-header__option">
      <button type="button" 
              class="md-header__button md-icon" 
              title="Lettergrootte verkleinen" 
              onclick="changeFontSize(-1)">
        {% include ".icons/material/format-font-size-decrease.svg" %}
      </button>

      <button type="button" 
              class="md-header__button md-icon" 
              title="Lettergrootte herstellen" 
              onclick="resetFontSize()">
        {% include ".icons/material/format-size.svg" %}
      </button>

      <button type="button" 
              class="md-header__button md-icon" 
              title="Lettergrootte vergroten" 
              onclick="changeFontSize(1)">
        {% include ".icons/material/format-font-size-increase.svg" %}
      </button>
    </div>
    
    {% if "material/search" in config.plugins %}
      <label class="md-header__button md-icon" for="__search">
        {% include ".icons/material/magnify.svg" %}
      </label>
      {% include "partials/search.html" %}
    {% endif %}
    
    {% if config.repo_url %}
      <div class="md-header__source">
        {% include "partials/source.html" %}
      </div>
    {% endif %}
  </nav>
</header>